<h1>Soundcloud Player</h1>
  
  <input id="widget-track-url" type="text" placeholder="Enter a track URL" autofocus>
  <input type="submit" id="widget-button" value="show widget">
  <div id="widget"></div>
   


  <hr>

  <h1>Soundcloud Player</h1>
  <h3>(take it to Eleven)</h3>
    <input id="stream-track-url" type="text" placeholder="Enter a track URL" autofocus>
    <input type="submit" id="stream-button" value="stream track">

  <h4>Playing: <span id=""></span></h4>
  <h4>Volume:
  <select id="volume">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>
  </h4>